<!DOCTYPE html>
<html lang="en">

<head>
  {{#libraries}}
  <script src="{{.}}"></script>
  {{/libraries}}
  <title>{{fileTitle}}</title>
  <style>
    body {
      background: #333;
    }

    canvas {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <script src="{{sketchPath}}"></script>
</body>


</html>