<!DOCTYPE html>
<html lang="en">

<head>
  {{#libraries}}
  <script src="{{.}}"></script>
  {{/libraries}}
  <title>{{fileTitle}}</title>
  <style>
    body {
      background: gray
    }
  </style>
</head>

<body>
  <script src="{{sketchPath}}"></script>
</body>


</html>