<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{fileTitle}}</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Barlow");
    </style>
    <link rel="stylesheet" href="markdown.css">
</head>

<body>{{{content}}}</body>


</html>