<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{fileTitle}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Barlow");

        body {
            background: #333;
            color: #DDD;
            white-space: pre;
            font-family: "Barlow", sans-serif;
            line-height: 1.6;
        }
    </style>
</head>

<body>{{{content}}}</body>


</html>