body {
  margin: 0px;
  font-family: monospace;
}
div {
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  padding: 5px;
  background: black;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media print {
  @page {
    size: 6in 4in;
    marks: crop cross;
  }
  body {
    -webkit-print-color-adjust: exact !important;
  }
  div {
    width: 6in;
    height: 4in;
  }
  div:before,
  div:after {
    position: absolute;
    content: "";
    border: solid black;
    z-index: -1;
  }
  div:before {
    top: -32px;
    bottom: -32px;
    left: 16px;
    right: 16px;
    border-width: 0 1px;
  }
  div:after {
    left: -32px;
    right: -32px;
    top: 16px;
    bottom: 16px;
    border-width: 1px 0;
  }
}
