<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Notes</h1>

    <div id="app">
      <transition-group tag="ul" class="notes" name="notes">
        <li class="note" v-for="note in notes" v-bind:key="note.id">
          <div class="vote">
            <div class="up button" @click="incrementScore(note, 1)">⬆</div>
            <!-- <div class="score">{{ note.score }}</div> -->
            <input
              class="score"
              v-model="note.score"
              type="number"
              required
              min="0"
              step="1"
              @blur="updateScore(note)"
              @keyup.enter="updateScore(note)"
            />

            <div class="down button" @click="incrementScore(note, -1)">⬇</div>
          </div>
          <div class="content">
            <input
              class="title"
              v-model="note.title"
              @blur="updateTitle(note)"
              @keyup.enter="updateTitle(note)"
            />
            <div>{{ note.body }}</div>
          </div>
          <div class="delete button" @click="removeNote(note)">×</div>
        </li>
      </transition-group>
      <input
        class="new-note-title"
        autofocus
        autocomplete="off"
        placeholder="create note"
        v-model="newNoteTitle"
        @keyup.enter="addNote"
      />
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuefire@2.0.0-alpha.21/dist/vuefire.min.js"></script>

    <!-- <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-firestore.js"></script>

    <script src="app.js"></script>
  </body>
</html>
