@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  /* height: 100%; */
}

#status {
  margin-top: 2rem;
  width: 1024px;
  font-size: 12px;
  padding-bottom: 4px;
  height: 20px;
}

#canvas-wrap {
  position: relative;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  cursor: grab;

  /* outline: 1px solid red; */
}
canvas {
  display: block;

  /* border: 1px solid red; */
  /* border-radius: 8px; */
}
#canvas-wrap:active {
  cursor: grabbing;
}

#canvas-shadow {
  position: absolute;
  inset: 0;
  /* border: 10px solid red; */
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 50, 0.4);
  user-select: none;
  pointer-events: none;
}

#controls {
  /* border: 1px solid red; */
  width: 1024px;
  padding-top: 15px;
}

#controls > * {
  margin-right: 10px;
}

.expression-editor {
  width: 1024px;
  font-size: 22px;
  line-height: 48px;

  margin-top: 1em;

  display: flex;
  flex-wrap: wrap;
}

.reveal-all .secret {
  display: flex;
}

.expression-editor + .expression-editor {
}

.expression-editor > * + * {
  margin-left: 0.5em;
  /* outline: 1px solid red; */
}

.expression-editor label {
}

.validated-field {
  flex: 1;
  position: relative;
}
.expression-editor input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: inherit;
  padding-left: 0.5em;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: inset 0 0 4px rgba(0, 0, 50, 0.3);
  overflow: visible;
}

.expression-editor input[type="text"]:focus {
  /* outline: 1px solid #0ff; */
  outline: none;
  border: 2px solid black;
}

.expression-editor input[type="text"]:disabled {
  /* outline: 1px solid #0ff; */
  box-shadow: none;
  color: black;
}

.secret input {
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 0);
}

.validated-field .error {
  position: absolute;
  font-size: 12px;
  color: red;
  line-height: 22px;
  left: 1em;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle label {
  width: 48px;
  height: 48px;
  background: #bbb;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 48px;
  display: block;
  /* margin-left: 1em; */
}

.toggle :checked + label {
  background: #7a7;
  color: #fff;
}

.toggle #plot-Z:checked + label {
  background-color: #777;
}
.toggle #plot-A:checked + label {
  background-color: #07d;
}
.toggle #plot-B:checked + label {
  background-color: #7d7;
}
.toggle #plot-C:checked + label {
  background-color: #d0d;
}
.toggle #plot-D:checked + label {
  background-color: #d70;
}

.code-wrap {
  margin-top: 2em;
  width: 1024px;
  display: flex;
  height: 400px;
}

.code-wrap > * + * {
  margin-left: 0.5em;
}

.code {
  flex: 1;
}

.code-controls {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.CodeMirror {
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  height: 100% !important;
  border: 1px solid #999;
}
