body{
	background-color: #F7F7F7;
	color: #111111;
	margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:900px){
	body{
		overflow: auto;
	}
}

#settings-panel{
	width: 100%;
	// min-height: 250px;
	min-width: 900px;
	background-color: #333333;
	color: white;
	display: block;
	position:absolute;
	bottom: 0px;

	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
}

#settings{
	display: flex;
}

#settings-panel .col{
	flex: auto;
	box-sizing: border-box;
	padding-right: 10px;
}
#settings-panel .col.larger{
	flex-grow: 2.5;
	position: relative;
}
#fontView{
	// border: 1px solid red;
	// display: block;
	position:absolute;
}
#text-field{
	width: 100%;
	height: 150px;
	position: relative;
	resize: none;
	box-sizing: border-box;
	font-size: .9em;
}
.form-group{
	margin-bottom: 10px;
}

label{
	display: inline-block;
	width: 50%;
	text-align: right;
	margin-right: 15px;
}
input{
	width: 50px;
	text-align: center;
}
input[type=checkbox]{
	margin: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button{
	display: block;
	width: 100%;
	height: 30px;
}

#dev-samples{
	display: none;
}
#dev-samples.show{
	display: block;
}

#build{
	position: absolute;
	right:-20px;
	bottom:4px;
	width: 30px;
	height: 30px;
	display: none;

	padding: 0 0;
	font-size: 1.5em;
	font-weight: 500;
}
#build.show{
	display: block;
}