<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{fileInfo.name}}</title>

    <base target="_parent">

    <link rel="stylesheet" href="plugins/common/common.css">
    <link rel="stylesheet" href="plugins/txt/txt.css">
</head>

<body>
    {{#content}}
    <div class="content txt">{{.}}</div>
    {{/content}}
</body>

</html>