<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{fileInfo.name}}</title>

  <base target="_parent">

  <link rel="stylesheet" href="plugins/common/common.css">
  <link rel="stylesheet" href="plugins/md/md.css">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.16.0/themes/prism-tomorrow.css">
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.16.0/prism.min.js"></script>
</head>

<body>
  {{#content}}
  <div class="content md">{{{.}}}</div>
  {{/content}}
</body>


</html>